/** {
	border: 1px solid black;
}
*/
body {
	background: url("../images/lightspeed.jpg");
	color: white; 
	font-family: 'Orbitron', sans-serif;
}

.container, .audio-bar {
	width: 60%;
	margin: auto;
	background-color: #787878;
	border: 5px ridge #535353;
}


.logo {
	display: block;
	width: 30%;
	margin: 2% auto 0 auto;
}
.subtitle {
	font-size: 2em;
	margin: 0 auto 2% auto;
}

audio {
	width: 100%;
}

p {
	text-align: center;
	font-size: 25px;
}


.content {
	display: flex;
	justify-content: space-between;

}

.hangman-img {
	width: 100%
}

.hang-display {
	display: block;
	margin: auto;
	width: 50%;
}

.hang-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
}

.content-seg {
	border-top: 1px solid #535353;
	border-bottom: 1px solid #535353;
}

